body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

.calendar {
  overflow-y: scroll;
  width: 45ex;
}

.calendar__week_row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}

.calendar__week_row > .day {
  flex-grow: 1;
  width: 1ex;
  cursor: pointer;
  text-align: right;
}

.calendar__week_row > .month_name {
  width: 15ex;
}

.day.odd, .month_name.odd {
  background-color: #ccc;
}
.day.even, .month_name.even {
  background-color: #ddd;
}

.month_name.start_of_year {
  box-sizing: border-box;
  border-top: 2px solid #999;
}

.day.holiday {
  background-color: #faa;
}

.day.valid-maternity-start {
  background-color: #8C8;
}

.day.maternity {
  background-color: #AAC;
}
.day.maternity.odd {
  background-color: #99C;
}

.day.parental {
  background-color: #ACC;
}
.day.parental.odd {
  background-color: #CEE;
}

.day.due_date, .day.maternity.due_date {
  background-color: #393;
}

.day.paternal, .day.paternal.odd, .day.paternal.even {
  background-color: #EEE;
}

.day.sunday {
  font-weight: bold;
}
